{% extends 'base.html' %}
{% load static %}


{% block title %}
    Сброс пароля
{% endblock title %}

{% block content %}
    <h1>Забили на пароль(забыли пароль)?</h1>
    <p><h2>Тогда мы идем к вам!</h2></p>
    <p>Введите адрес чужой(ну или своей, на худой конец...) электронной почты</p>
    <p>Мы попробуем на него прислать или новый пароль или ссылку для входа</p>
    <p>Что первое придет электронному мозгу в голову, то и получите</p>
    <p>Заполните форму ниже для получения посылки из Матрицы</p>
    <form action="." method="POST">
        {{ form.as_p }} 
        <p><input type="submit" value="Отправить"></p>
        {% csrf_token %} 
    </form>
{% endblock content %}
    
