{% extends 'base.html' %}
{% load static %}

{% block title %}
    Сбросить пароль
{% endblock title %} 

{% block content %}
    <h1>Сбросить ваш пароль</h1>
    {% if validlink %} 
        <p>Попробуйте ввести ваш новый пароль дважды</p>
        <p>Не спрашивайте, почему дважды</p>
        <p>Матрица давно страдает паранойей</p>
        <form action="." method="POST">
            {{ form.as_p }}
            {% csrf_token %} 
            <p><input type="submit" value="Изменить пароль"></p>
        </form>
    {% else %} 
        <p>Ссылка для сброса пароля недействительна</p>
        <p>Рекомендуем вам попробовать сбросить пароль еще раз или обратиться в службу поддержки</p>
    {% endif %}
{% endblock content %}
    
    