{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Ваша корзина
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
    <h1>Ваша корзина</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Изображение</th>
                <th>Букет</th>
                <th>Количество</th>
                <th>Удалить из корзины</th>
                <th>Цена</th>
                <th>Общая сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %} 
                {% with product=item.product %} 
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                {{ item.update_quantity_form.quantity }} 
                                {{ item.update_quantity_form.update }} 
                                <input type="submit" value="Обновить">
                                {% csrf_token %} 
                            </form>
                        </td>
                        <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
                        <td class="num">{{ item.price }} руб.</td>
                        <td class="num">{{ item.total_price }} руб.</td>
                    </tr>
                {% endwith %} 
            {% endfor %} 
            </tbody>
            </table>
            </div>
            <div class="row">
                <div class="">
                <table>
                    <tbody>
            {% if cart.coupon %} 
                <tr class="subtotal">
                    <td>Стоимость без скидки</td>
                    <td colspan="4">{{ cart.get_total_price|floatformat:"2" }}</td>
                </tr>
            </div>
                <div class="col">
                <tr>
                    <td>Купон "{{ cart.coupon.code }}" со скидкой
                        {{ cart.coupon.discount }}% 
                    </td>
                    <td colspan="4"></td>
                    <td class="num neg">
                        -{{ cart.get_discount|floatformat:"2" }} руб.
                    </td>
                </tr>
            {% endif %} 
            </div>
            <div class="col">
            <tr class="total">
                <td>Общая сумма</td>
                <td colspan="4"></td>
                <td class="num">
                {{ cart.get_total_price_after_discount|floatformat:"2" }} руб.
                </td>
                </tr>
        </tbody>
    </table>
    </div>
    {% if recommended_products %}
        <div class="col">
            <h3>С этим товаром покупают:</h3>
                {% for p in recommended_products %}
                    <div class="col">
                        <a href="{{ p.get_absolute_url }}">
                            <img src="{% if p.image %}{{ p.image.url }}{% else %}
                                {% static 'img/no_image.png' %}{% endif %}">
                        </a>
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                    </div>
                {% endfor %}
                </div>
                </div>
    {% endif %}
</div>
    <div class="col">
    <p>Форма для купона:</p>
        <form action="{% url 'coupons:apply' %}" method="POST">
                {{ coupon_apply_form }}
                <input type="submit" value="Купон готов">
                    {% csrf_token %}
        </form>
</div>
        <div class="col">
    <p class="text-right">
        {% csrf_token %}
        <a href="{% url 'shop:product_list' %}" class="button light">Продолжить покупки</a>
        <a href="{% url 'orders:order_create' %}" class="button">Подготовить заказ</a>
    </p>
    </div>
    </div>
    </div>
    </div>
{% endblock content %}
    
    