[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "==4.2.1"
pillow = "*"
whitenoise = "*"
braintree = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
