
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Сьешь букет!
        {% endblock title %}
</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
</head>
<body
style="background-image: url('static/img/pattern-1.png');">
    <div id="header">
        <a href="/" class="logo">Сьешь букет!</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %} 
                {% if cart|length > 0 %} 
                    В вашей корзине:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items }} шт. на сумму
                            
                    {{ cart.get_total_price }} руб.
                    </a>
                {% else %} 
                    Ваша корзина пуста
                {% endif %} 
            {% endwith %} 
        </div>
    </div>
   
        {% block content %}
        
        {% endblock content %}

    <footer class="mt-3">
        <p class="text-right font-italic">&copy; EHGWRabbit</p>
    </footer>    
    </div>
</body>
</html>