{% extends 'shop/base.html' %} 

{% block content %}
    <h1>К нашему сожалению, процесс оборвался...</h1>
    <p>
        <h2>При обработке введенной вами информации возникли проблемы</h2>
        <h2>Попробуйте повторить</h2>
        <p>
            <h3>Если вас вновь отправит на эту страницу, значит что-то не так либо с вашими данными либо с платежным шлюзом.</h3>
            <h3>Вы в любом случае можете написать в службу поддержки нашего сайта и мы попробуем вам помочь!</h3>
            <p>
                <h4>Служба поддержки: ehgwrabbit@gmail.com</h4>
            </p>
        </p>
    </p>
    <h2>Об этом сайте(приложении)</h2>
    <p>На этом сайте не сделано:</p>
    <p>Нет авторизации и аутентификации</p>
    <p>Нет профилей пользователей</p>
    <p>Используются только кастомные стили Bootstrap4 установлен но не использловался</p>
    <p>Не полностью настроен Redis - в полноценном развертывании нет смысла</p>
    <p>Не работает ссылка в панели администратора на предворительный просмотр</p>
    <p>заказа. Она рабочая, но у автора нет времени на исправление мелкой проблемы</p>
    <p>Не включен продакшн системы платежного шлюза</p>
    <p>Установлена только система для тестирования локально</p>
    <p>Не установлена авторизация через социальные сети</p>
    <p>Интеграция в социальные сети довольно проста, но ее настройка требует времени</p>
    <p>Не полноценно откофигурирована база данных и сервер.</p>
    <p>Автор не несет ответственности за законность использования данного сайта или исходного кода</p>
    <p>Приложение написано под руководством Антонио Меле, ни один кусок его кода не скопирован</p>
    <p>Только набран руками и осмыслен и переосмыслен автором.</p>

{% endblock content %}
    